@import '../../styles/variables';

.projectOne {

  &__heading {
    margin-top: 30px;
    font-size: 3.5rem;
    font-weight: $font-weight-regular;
    letter-spacing: 0.2rem;
    text-align: center;
  }

  &__cover {
    margin-top: 60px;
  }

}
