@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: $font-weight-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  // &:hover {
  //   cursor: url("../assets/circle.cur"), default;
  //   border: 2px #FFFFFF;
  // }
}

#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@for $index from 1 through 6 {
  h#{$index} {
    margin: 0;
  }
}

h1 {
  font-size: 2.1875rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5625rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.9375rem;
}

h6 {
  font-size: 0.625rem;
}

p, span, li, a {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

blockquote, blockquote * {
  font-style: italic;
}

footer, footer * {
  font-size: 1rem;
}
