$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$dark-grey: #2B2B2B;
$dark-blue: #007CBA;
$orange: #FF5833;
$white: #FFFFFF;
$black: #000000;
$lighter-black: #262626;

$page-gap-small: 25px;
$page-gap-large: 50px;
$page-gap-extra-large: 200px;
