$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$black: #000000;
$light-black: #262626;
$white: #FFFFFF;
$dark-blue: #274BC8;
$dark-grey: #2B2B2B;
$light-grey: #3e454b;
$extra-light-grey: #8f99a4;
$orange: #FF5833;

$page-gap-small: 25px;
$page-gap-large: 50px;
$page-gap-extra-large: 250px;
