$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$black: #000000;
$light-black: #262626;
$white: #FFFFFF;
// $dark-blue: #274BC8;
$dark-blue: #4766AA;
$dark-grey: #2B2B2B;
$light-grey: #797d80;
$extra-light-grey: #8f99a4;
$orange: #FF5833;
$grey-test: #4a4a4a;
$grey-blue: #8d96b2;
// $grey-white: #A0A0A0;
$grey-white: #bdbdbd;
$yellow: #FFC340;
$testing: #5c5c5c;

$page-gap-small: 25px;
$page-gap-large: 50px;
$page-gap-macbook-large: 60px;
$page-gap-medium-large: 90px;
$page-gap-extra-large: 120px;
$page-gap-extra-extra-large: 300px;
