@import './variables';

.page-content {
  flex: 1 1 auto;
  margin: 0 $page-gap-small;

  @media screen and (min-width: 1024px) {
    margin: 0 $page-gap-large;
  }

  @media screen and (min-width: 1400px) {
    margin: 0 $page-gap-extra-large;
  }
}

.scroll-btn {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  border-style: hidden;
  transform: translateY(100px);
  transition: transform .25s ease;

  &--show {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transform: translate(0, 50%);
  visibility: hidden;
  transition: opacity 0.8s ease-in, transform 0.8s ease-in;
  will-change: opacity, visibility;

  &--appear {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}
