@import './variables';

.page-content {
  flex: 1 1 auto;
  margin: 0 $page-gap-small;

  @media screen and (min-width: 1024px) {
    margin: 0 $page-gap-large;
  }

  @media screen and (min-width: 1400px) {
    margin: 0 $page-gap-extra-large;
  }
}

.scroll-btn {
  border-radius: 50%;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  transform: translateY(100px);
  transition: transform .5s ease;

  &--show {
    opacity: 1;
    transform: translateY(0);
  }
}
