@import './variables';

.page-content {
  flex: 1 1 auto;
  margin: 0 $page-gap-small;

  @media screen and (min-width: 1024px) {
    margin: 0 $page-gap-large;
  }

  @media screen and (min-width: 1440px) {
    margin: 0 $page-gap-extra-large;
  }

  @media screen and (min-width: 1903px) {
    margin: 0 $page-gap-extra-extra-large;
  }
}

.scroll-btn {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  border-style: hidden;
  transform: translateY(100px);
  transition: transform 0.25s ease;

  &.scroll-btn--show {
    opacity: 1;
    transform: translateY(0);
    font-size: 20px;
  }
}

.bg-img {
  animation: 2s ease-out 0s 1 appear;
  background-attachment: fixed;
  background-image: url('../assets/Shot1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
