@import '../../styles/variables';

.navbar {
  padding: 70px $page-gap-small;

  .navbar__spacing {
    letter-spacing: 0.15em;
  }

  a {
    text-decoration: none;
  }

  .navbar__heading {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    font-weight: $font-weight-regular;
    color: $black;
  }

  #logo_Navbar {
    font-weight: $font-weight-bold;
  }

  .custom-logo {
    padding: 8px 0;
  }

  .navbar-end > .navbar-item {
    margin: 0 20px;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: inline-block;
    }

    a:after {
      bottom: 0;
      content: "";
      display: block;
      height: 3px;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    a:hover:after {
      width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 60px $page-gap-large;

    .navbar-item {
      font-size: 1.3em;
      font-weight: $font-weight-medium;
    }
  }

  @media screen and (min-width: 1440px) {
    padding: 50px $page-gap-macbook-large;

    .navbar-item {
      font-size: 1.1em;
    }
  }

  @media screen and (min-width: 1903px) {
    padding: 60px $page-gap-extra-large;

    .navbar-item {
      font-size: 1.3em;
      font-weight: $font-weight-medium;
    }
  }

}
