@import '../../styles/variables';

.home {

  @media screen and (min-width: 1440px) {
    margin: 0 100px;
  }

  @media screen and (min-width: 1903px) {
    margin: 0;
  }

  .home__greeting {
    font-size: 3rem;
    font-weight: $font-weight-bold;
    color: $dark-blue;
    font-family: 'PT Serif', serif;
    margin: 120px 0 0 0;

    @media screen and (min-width: 1903px) {
      font-size: 3.8rem;
    }


  }

  .home__name-link {
    color: $dark-blue;
    margin-bottom: 0px;
    font-weight: $font-weight-bold;
    text-decoration: none;
    font-size: 3rem;
    border-style: dotted;
    border-width: 1px 1px 4.5px;
    border-color: transparent transparent rgba(92, 92, 92, 0.21);
    cursor: pointer;


    @media screen and (min-width: 1903px) {
      font-size: 3.8rem;
    }
  }

  .link_to_resume {
    text-decoration: none;
    color: $dark-blue;
  }

  .home__text-emphasis {
    font-style: unset;
    font-weight: $font-weight-semi-bold;
    color: $yellow;
    font-size: 1.8em;
    font-family: 'Covered By Your Grace', sans-serif;
  }

  .home__blockquote {
    font-style: unset;
    margin: 40px 0 0 0;
    font-size: 1.4rem;
    line-height: 5rem;
    font-weight: $font-weight-semi-bold;
    color: $grey-white;
    // color: #5C5C5C;

    @media screen and (min-width: 1903px) {
      font-size: 1.72rem;
    }

  }

  &__blockquote-container {
    @media screen and (min-width: 1440px) {
      width: 80%;
    }

    @media screen and (min-width: 1903px) {
      width: 73%;
    }
  }

  &__project {
    display: flex;
    flex-direction: column;

    .home__project-title {
      color: $grey-white;
      font-size: 1.25rem;
      font-weight: $font-weight-bold;
      margin-right: 10px;
    }

    .home__project-link {
      color: $dark-blue;
      font-size: 1rem;
      font-weight: $font-weight-semi-bold;
    }
  }

  &__project-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 200px 0 0 0;
  }


  .home__project-document-icon {
    padding-right: 15px;
    justify-content: center;
    padding-bottom: 4px;
  }

  &__project-case {
    margin: 50px 0 250px 0;
  }

  &__project-case-mini-area {
    display: flex;
    justify-content: space-between;
  }

  &__project-case-desc {
    text-align: justify;
    text-justify: inter-word;

    @media screen and (min-width: 1024px) {
      max-width: 450px;
      padding: 24px;
      background-color: $white;
      position: relative;
      top: -100px;
      left: 40px;
      border-radius: 15px;
    }
  }

  &__project-case-tags {
    display: none;

    @media screen and (min-width: 1024px) {
      display: flex;

      .tag {
        margin: 40px 5px 0 5px;
        font-size: 11.5px;
        color: $grey-blue;
        text-align: center;
        font-weight: $font-weight-bold;
        background-color: #F9F9F9;
        padding: 17px 15px;
        border-radius: 8px;
      }
    }
  }

  .home__project-case-title {
    font-weight: $font-weight-bold;
    font-style: normal;
    color: $dark-blue;
    padding: 15px 0 20px 0;
    font-size: 1.8rem;
    line-height: 22px;
    // font-family: 'Karla', sans-serif;
  }

  .home__project-case-content {
    color: #62687F;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: $font-weight-medium;
    line-height: 35px;
    padding-bottom: 20px;


    @media screen and (min-width: 1903px) {

    }
  }

  .home__project-case-btn {
    text-align: right;

    .button {
      border-radius: 25px;
      color: #8d96b2;
      font-weight: $font-weight-semi-bold;
      padding: 24px;
      text-decoration: none;
      border-color: #F9F9F9;
      background-color: #F9F9F9;
    }

    .disabled-link {
      pointer-events: none;
    }
  }

  .home__project-case-date {
    font-style: normal;
    font-weight: $font-weight-semi-bold;
    color: #8d96b2;
    letter-spacing: 0.05em;
    font-size: 10px;
    line-height: 15px;
  }

  &__project-case-study {
    border-radius: 15px;
    overflow: hidden;

    img {
      display: block;
      max-width: 100%;
      width: 100%;
      transition: transform 0.3s ease-in-out;
    }

    &:hover img {
      /*filter: grayscale(100%);*/
      transform: scale(1.02);
      transform-origin: 50% 50%;
    }
  }
}
