@import '../../styles/variables';

.home {
  &__location {
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    color: $dark-blue !important;
    margin: 120px 0 0 0;
  }

/*   &__highlight-role {
    background-color: #93ffe4;
    border: 2px;
    padding: 5px 2px;
    font-style: unset;
  } */

  &__blockquote {
    font-style: unset;
    margin: 40px 0 0 0;
    font-size: 1.72rem;
    line-height: 5rem;
    font-weight: $font-weight-regular;
  }

  &__blockquote-container {
    @media screen and (min-width: 1400px) {
      width: 65%;
    }
  }

  &__project {
    display: flex;
    flex-direction: column;

    .home__project-title {
      // color: $dark-blue;
      font-size: 1.8rem;
      font-weight: $font-weight-semi-bold;
      margin-right: 10px;
    }

    .home__project-link {
      color: $dark-blue;
      font-size: 1rem;
      font-weight: $font-weight-semi-bold;
    }
  }

  &__project-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 220px 0 0 0;
  }


  .home__project-document-icon {
    padding-right: 15px;
    padding-bottom: 7.15px;
  }

  &__project-case {
    margin: 50px 0 200px 0;
  }

  &__project-case-mini-area {
    display: flex;
    justify-content: space-between;
  }

  &__project-case-desc {
    text-align: justify;
    text-justify: inter-word;

    @media screen and (min-width: 1024px) {
      max-width: 450px;
      padding: 24px;
      background-color: $white;
      position: relative;
      top: -100px;
      left: 40px;
      border-radius: 10px;
    }
  }

  &__project-case-tags {
    display: none;

    @media screen and (min-width: 1024px) {
      display: flex;

      .tag {
        margin: 10px 5px;
        font-size: 15px;
        background-color: none;
      }
    }
  }

  .home__project-case-title {
    font-weight: $font-weight-bold;
    font-style: normal;
    color: $dark-blue;
    padding: 15px 0 20px 0;
    font-size: 1.6rem;
    line-height: 22px;
  }

  .home__project-case-content {
    color: #62687F;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: $font-weight-medium;
    line-height: 30px;
    padding-bottom: 20px;
  }

  .home__project-case-btn {
    text-align: right;

    .button {
      border-radius: 25px;
      color: $dark-blue;
      font-weight: $font-weight-semi-bold;
      padding: 24px;
      text-decoration: none;
      border-color: $dark-blue;
    }
  }

  .home__project-case-date {
    font-style: normal;
    font-weight: $font-weight-semi-bold;
    color: #8d96b2;
    letter-spacing: 0.05em;
    font-size: 10px;
    line-height: 15px;
  }

  &__project-case-study {
    overflow: hidden;

    img {
      max-width: 100%;
      width: 100%;
      transition: transform 0.3s ease-in-out;
    }

    &:hover img {
      /*filter: grayscale(100%);*/
      transform: scale(1.02);
      transform-origin: 50% 50%;
    }
  }
}
