@import '../../styles/variables';

.home {
  &__location {
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    color: $dark-blue !important;
    margin: 140px 0 0 0;
  }

  &__blockquote {
    font-style: unset;
    margin: 40px 0 0 0;
    font-size: 1.70rem;
    line-height: 5rem;
    letter-spacing: 0.05rem;
  }

  &__blockquote-container {
    @media screen and (min-width: 1400px) {
      width: 65%;
    }
  }

  &__project {
    display: flex;
    flex-direction: column;

    .home__project-title {
      font-size: 1.9rem;
      font-weight: $font-weight-semi-bold;
      margin-right: 10px;
    }

    .home__project-link {
      color: $extra-light-grey;
      font-size: 1.13rem;
      font-weight: $font-weight-semi-bold;
    }
  }

  &__project-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 240px 0 0 0;
  }

  &__project-case {
    margin: 50px 0 200px 0;
  }

  &__project-case-desc {
    @media screen and (min-width: 1128px) {
      max-width: 450px;
      padding: 24px;
      background-color: $white;
      position: relative;
      top: -96px;
      left: 40px;
      border-radius: 8px;
    }
  }

  .home__project-case-title {
    font-weight: $font-weight-bold;
    font-style: normal;
    color: $dark-blue;

    @media screen and (min-width: 641px) {
      padding: 0 0 15px 0;
      font-size: 1.15rem;
      line-height: 22px;
    }
  }

  .home__project-case-content {
    font-style: normal;
    font-weight: $font-weight-medium;
    color: #62687F;

    @media screen and (min-width: 641px) {
      padding: 0 0 16px 0;
      font-size: 12px;
      line-height: 28px;
    }
  }

  .home__project-case-date {
    font-style: normal;
    font-weight: $font-weight-semi-bold;
    color: #8d96b2;
    letter-spacing: 0.05em;
    @media screen and (min-width: 641px) {
      font-size: 10px;
      line-height: 15px;
    }
  }

  &__project-case-study {
    overflow: hidden;

    img {
      max-width: 100%;
      width: 100%;
      transition: transform 0.3s ease-in-out;
    }

    &:hover img {
      /*filter: grayscale(100%);*/
      transform: scale(1.02);
      transform-origin: 50% 50%;
    }
  }
}
