@import '../../styles/variables';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 65px $page-gap-small;
  background-color: $white;

  @media screen and (min-width: 1024px) {
    padding: 65px $page-gap-large;
  }

  @media screen and (min-width: 1440px) {
    padding: 65px $page-gap-extra-large;
  }

  @media screen and (min-width: 1903px) {
    padding: 65px $page-gap-medium-large;
  }

  .footer__text {
    color: #757575;
    letter-spacing: 1px;;
    font-size: 0.9rem;
    font-weight: $font-weight-bold;
  }

  &__email {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 16px;

    .footer__icon {
      color: $black;
      margin-bottom: 0.5rem;
      font-size: 1.625rem;
    }

    .footer__text {
      margin-left: 15px;
    }

    .footer__padding {
      margin-left: 25px;
    }
  }
}

@keyframes movement {
  0%,
  100% {
    right: 0;
  }

  50% {
    right: 50px;
  }
}
