@import '../../styles/variables';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px $page-gap-small;

  @media screen and (min-width: 1024px) {
    padding: 120px $page-gap-large;
  }

  @media screen and (min-width: 1440px) {
    padding: 120px $page-gap-extra-large;
  }

  @media screen and (min-width: 1903px) {
    padding: 120px $page-gap-medium-large;
  }

  .footer__text {
    color: $black;
    font-weight: $font-weight-medium;
  }

  // &__left-area {
  //   display: flex;
  //   align-items: center;

  //   > .footer__icon {
  //     font-size: 2.4em;
  //     position: relative;
  //     animation: movement 2s infinite;
  //   }
  // }

  &__email {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;

    .footer__icon {
      color: $black;
      font-size: 2em;
    }

    .footer__linkedin {
      color: #6487ff;
      font-size: 2em;
    }

    .footer__text {
      margin-left: 15px;
    }

    .footer__padding {
      margin-left: 30px;
    }
  }
}

@keyframes movement {
  0%,
  100% {
    right: 0;
  }

  50% {
    right: 50px;
  }
}
